img {
	max-width: 100%;
}

.image--extra-small {
	max-width: 15px;
	display: inline-block;
	margin-left: 5px;
}

.image--mid-small {
	max-width: 28px;
	display: inline-block;
	margin-bottom: -15px;
}
.image--medium {
	// max-width: 50%;
}


.image__small {
	max-width: 50px;
	margin-bottom: -20px;
}