/*

-----------------------------------------------
5. Maps
-----------------------------------------------

*/

.wrap__beer-place {
	display: flex;
}

.map {
	cursor: pointer;
	height: 150px;
	padding: $padding--small;

	&:nth-of-type(2),
	&:nth-of-type(3),
	&:nth-of-type(6),
	&:nth-of-type(7) {  
  		background: lighten($color--blue, 10);
		
		.span--background-wrap span {
			background: lighten($color--blue, 10);
		}
		h3,
		.span--background-wrap span {
			color: white;
			//$color--dark-brown;
		}
	}

	// up to phones
	@media (max-width: 767px) {
	   	width: 100%;
	   	margin: 10px 0;
	   	&:nth-of-type(odd) {
	   		background: lighten($color--blue, 10) !important;
	   	}
	   	&:nth-of-type(even) {
	   		background: $color--white !important;

	   		h3,
	   		.span--background-wrap span {
	   			color: $color--dark-brown;
	   		}
	   	}
	}

	@media (min-width: 768px) {
	   	// max-width: 50%;
	   	flex-basis: 50%;
	}


	

}
