/*

-----------------------------------------------
6. Wrappers
-----------------------------------------------

*/


header {
	margin-top: -100px !important;
	display: block;
	margin: 0 auto;
	background: $color--blue;
	max-width: 90%;

	p {
		color: white;
	}
}

.header__wrap {
	margin-bottom: 50px;
}
.header__inner {
	padding: 50px 0;
	background: lighten($color--light-brown, 10);
}

.flexbox__display-flex {
	display: flex !important;
	flex-wrap: wrap;
}

.flexbox__center-children {
	align-items: center;
	justify-content: center;
}

.wrap__inner {
	width: 80%;
	max-width: 675px;
	// display: block;
	margin: 0 auto;
	padding: $padding--small;

	@media (max-width: $media--small) {
		width: 95%;
		max-width: 415px;
	}
}

.beer_results .wrap__beer {
	&-3 {
		background: $color--blue;
		color: $color--white;
	}
}
.wrap__beer {
	cursor: pointer;
	padding: $padding--small * 1.5;
	margin: 10px;

	$grid_width_one: calc( (100% / 3) - 20px);
	$grid_width_two: calc( (100% - calc( (100% / 3) )) - 20px);


	&-1 {
		width: $grid_width_two;
	}
	&-2 {
		width: $grid_width_one;
	}
	&-3 {
		width: $grid_width_one;
	}
	&-4 {
		width: $grid_width_two;
	}
	&-5 {
		width: $grid_width_two;
	}
	&-6 {
		width: $grid_width_one;
	}
}
.wrap__full {
	width: 100%;
	padding: $padding--large;
	clear: both;
}
.wrap__half {
	padding: $padding--large;
	overflow: hidden;

	// up to phones
	@media (max-width: 767px) {
	   	width: 100%;
	   	float: none;
	}

	@media (min-width: 768px) {
	   	width: 50%;
	   	float: left;
	}

	img {
		display: block;
    	min-width: 140%;
    	margin: 0 -20% auto;

	}
}
