/* 
Table of contents: 

1. Defaults & resets
2. Typography
3. Colors
4. Images
5. Maps
6. Wrappers
7. Modal.
8. Misc.
9. Footer
*/
/*

-----------------------------------------------
1. Defaults & resets
-----------------------------------------------

*/
/*

-----------------------------------------------
2. Defaults & resets & variables
-----------------------------------------------

*/
* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.fadeInDown {
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: .5s;
  -vendor-animation-iteration-count: infinite; }

.background--light-brown {
  background: #F5DFBE; }

.wrap__beer-place {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/*

-----------------------------------------------
2. Typography
-----------------------------------------------

*/
h1,
h3,
h4 {
  font-family: "Cardo", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #522C1B;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 3rem;
  text-align: center;
  font-style: italic; }
  h1:after {
    content: "";
    display: block;
    margin: 15px auto;
    width: 50px;
    height: 5px;
    background: #522C1B; }

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal; }

h3 {
  padding-bottom: 10px;
  letter-spacing: 0.035em; }

h4 {
  font-weight: lighter;
  display: inline-block;
  margin: 10px 0; }

h2,
p {
  font-family: "Cardo", Helvetica, Arial, sans-serif; }

p {
  margin: 0;
  padding: 0; }
  p.para__large {
    font-size: 23px; }

p + p {
  margin-top: 20px; }

::-moz-selection {
  /* Code for Firefox */
  background: #2C2851; }

::selection {
  background: #2C2851; }

header + p {
  color: #522C1B; }

.text__grey {
  color: grey; }

.text__bold {
  font-weight: bold;
  display: block; }

.text__uppercase {
  text-transform: uppercase; }

.text__center {
  text-align: center; }

span {
  padding: 0 3px;
  font-family: "Cardo", Helvetica, Arial, sans-serif;
  color: #C4A077; }

.span--background-wrap span {
  background: #f8ead4;
  color: #522C1B;
  display: inline-block; }
  .span--background-wrap span:not(:first-of-type) {
    margin: 3px 5px; }

.button__start {
  cursor: pointer;
  font-family: "Cardo", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 20px auto;
  padding: 10px 20px;
  display: inline-block;
  color: #2C2851;
  background: white;
  border: 3px solid white; }
  .button__start:hover {
    background: #2C2851;
    color: white;
    border: 3px solid white; }

img {
  max-width: 100%; }

figure {
  width: 100%;
  margin: 0; }

.image--extra-small {
  display: block;
  margin: 5px auto;
  max-width: 50px; }
  .image--extra-small img {
    width: 20px;
    float: left;
    display: inline; }
    .image--extra-small img.arrow {
      padding: 0 5px; }

.image--mid-small {
  max-width: 28px;
  display: inline-block;
  margin-bottom: -15px; }

.image__small {
  max-width: 50px;
  margin-bottom: -20px; }

/*

-----------------------------------------------
5. Maps
-----------------------------------------------

*/
.wrap__beer-place {
  display: -ms-flexbox;
  display: flex; }

.map {
  cursor: pointer;
  height: 150px;
  padding: 10px; }
  .map:nth-of-type(2), .map:nth-of-type(3), .map:nth-of-type(6), .map:nth-of-type(7) {
    background: #3f3973; }
    .map:nth-of-type(2) .span--background-wrap span, .map:nth-of-type(3) .span--background-wrap span, .map:nth-of-type(6) .span--background-wrap span, .map:nth-of-type(7) .span--background-wrap span {
      background: #3f3973; }
    .map:nth-of-type(2) h3,
    .map:nth-of-type(2) .span--background-wrap span, .map:nth-of-type(3) h3,
    .map:nth-of-type(3) .span--background-wrap span, .map:nth-of-type(6) h3,
    .map:nth-of-type(6) .span--background-wrap span, .map:nth-of-type(7) h3,
    .map:nth-of-type(7) .span--background-wrap span {
      color: white; }
  @media (max-width: 767px) {
    .map {
      width: 100%;
      margin: 10px 0; }
      .map:nth-of-type(odd) {
        background: #3f3973 !important; }
      .map:nth-of-type(even) {
        background: #fff !important; }
        .map:nth-of-type(even) h3,
        .map:nth-of-type(even) .span--background-wrap span {
          color: #522C1B; } }
  @media (min-width: 768px) {
    .map {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }

/*

-----------------------------------------------
6. Wrappers
-----------------------------------------------

*/
header {
  margin-top: -100px !important;
  display: block;
  margin: 0 auto;
  background: #2C2851;
  max-width: 90%; }
  header p {
    color: white; }

.header__wrap {
  margin-bottom: 50px; }

.header__inner {
  padding: 50px 0;
  background: #fcf5ea; }

.flexbox__display-flex {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flexbox__center-children {
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.wrap__inner {
  width: 80%;
  max-width: 675px;
  margin: 0 auto;
  padding: 10px; }
  @media (max-width: 768px) {
    .wrap__inner {
      width: 95%;
      max-width: 415px; } }

.beer_results .wrap__beer-3 {
  background: #2C2851;
  color: #fff; }

.wrap__beer {
  cursor: pointer;
  padding: 15px;
  margin: 10px; }
  .wrap__beer-1 {
    width: calc( (100% - calc( (100% / 3) )) - 20px); }
  .wrap__beer-2 {
    width: calc( (100% / 3) - 20px); }
  .wrap__beer-3 {
    width: calc( (100% / 3) - 20px); }
  .wrap__beer-4 {
    width: calc( (100% - calc( (100% / 3) )) - 20px); }
  .wrap__beer-5 {
    width: calc( (100% - calc( (100% / 3) )) - 20px); }
  .wrap__beer-6 {
    width: calc( (100% / 3) - 20px); }

.wrap__full {
  width: 100%;
  padding: 20px;
  clear: both; }

.wrap__half {
  padding: 20px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .wrap__half {
      width: 100%;
      float: none; } }
  @media (min-width: 768px) {
    .wrap__half {
      width: 50%;
      float: left; } }
  .wrap__half img {
    display: block;
    min-width: 140%;
    margin: 0 -20% auto; }

/*

-----------------------------------------------
7. Modal
-----------------------------------------------

*/
.wrap__modal {
  width: 80vw;
  height: 80vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  border: 5px solid #2C2851;
  background: #fff;
  display: block;
  margin: 50px auto; }

/*

-----------------------------------------------
8. Misc
-----------------------------------------------

*/
.js-modal-hide,
.hide {
  display: none; }

/*

-----------------------------------------------
9. Footer
-----------------------------------------------

*/
footer {
  display: none; }
